:root {
  --slider-thumb-color: #E76400;
  --slider-track-color: #f8f9fa;
  --slider-border-color: #6c757d;
  --thumb-border-color: #C25400;
  --light-border-color: #adb5bd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#page {
  background: #f8f9fa;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: "Barlow";
}

.setting-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  height: 150px;
  margin: auto;
}

.setting-title {
  flex: 0 0 100%;
}

.setting-value {
  margin: 0 25px;
  width: 50px;
}

.btn {
  padding: 0px 7px;
  height: 28px;
}

.slider {
  flex: 0 0 70%;
}

#timer-container {
  border-radius: 15px;
  border-left: 2px solid var(--light-border-color);
  border-right:2px solid var(--light-border-color);
  text-align: center;
}

#time-left {
  font-size: 7rem;
  color: #343a40;
}

#controls {
  justify-content: center;
}

#buttons {
  display: flex;
  justify-content: center;
  width: auto;
  padding: 0;
  margin-top: 20px;
}

.setting {
  border-color: var(--light-border-color);
}

#start_stop, #reset {
  overflow: hidden;
  background: none;
  border: none;
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0 10px;
  color: #343a40;
}

i {
  pointer-events: none;
}

/****************
 * Slider styling
 ****************/

.slider {
  appearance: none;
  background-color: transparent;
  margin: 0 20px;
}

.slider:focus {
  outline: none;
}

.slider::-webkit-slider-runnable-track {
  height: 9px;
  cursor: pointer;
  transition: all 0.2s ease;
  background: var(--slider-track-color);
  border: 1px solid var(--light-border-color);
  border-radius: 5px;
  box-shadow: 0px 1px 2px lightgray;
}

.slider::-webkit-slider-thumb {
  border: 2px solid var(--thumb-border-color);
  height: 19px;
  width: 19px;
  border-radius: 50%;
  background: var(--slider-thumb-color);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
  box-shadow: 0px 1px 2px lightgray;
}

.slider:focus::-webkit-slider-runnable-track {
  background: var(--slider-track-color);
}

.slider::-moz-range-track {
  height: 9px;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 3px 2px 5px lightgray;
  background: var(--slider-track-color);
  border: 1px solid var(--slider-border-color);
  border-radius: 5px;
  box-shadow: 0px 1px 2px lightgray;
}

.slider::-moz-range-thumb {
  border: 2px solid var(--thumb-border-color);
  height: 19px;
  width: 19px;
  border-radius: 50%;
  background: var(--slider-thumb-color);
  cursor: pointer;
  margin-top: -6px;
  box-shadow: 0px 1px 2px lightgray;
}

.slider::-ms-track {
  height: 9px;
  cursor: pointer;
  transition: all 0.2s ease;
  background: transparent;
  border-color: transparent;
  border-width: 8px 0;
  color: transparent;
}

.slider::-ms-fill-lower {
  box-shadow: 0px 1px 2px lightgray;
  background: var(--slider-track-color);
  border: 1px solid var(--slider-border-color);
  border-radius: 0;
}

.slider::-ms-fill-upper {
  box-shadow: 0px 1px 2px lightgray;
  background: var(--slider-track-color);
  border: 1px solid var(--slider-border-color);
  border-radius: 0;
}

.slider::-ms-thumb {
  box-shadow: 0px 1px 2px lightgray;
  border: 2px solid var(--thumb-border-color);
  height: 19px;
  width: 19px;
  border-radius: 0;
  background: var(--slider-thumb-color);
  cursor: pointer;
}

.slider:focus::-ms-fill-lower {
  background: var(--slider-track-color);
}

.slider:focus::-ms-fill-upper {
  background: var(--slider-track-color);
}

@media (max-width: 992px) {
  #timer-container {
    border-left: 1px solid var(--light-border-color);
    border-right: 1px solid var(--light-border-color);
  }

  #time-left {
    font-size: 5rem;
  }
}

@media (max-width: 768px) {
  #page {
    padding: 10px;
  }

  .setting-container {
    margin: 40px 0;
  }
  
  #timer-container {
    border: none;
    border-top: 1px solid var(--light-border-color);
    border-bottom: 1px solid var(--light-border-color);
    padding-top: 20px;
  }

  #buttons {
    margin: 0;
  }
}

@media (max-width: 768px) and (max-height: 700px) {
  .setting-container {
    margin: 10px 0;
  }

  #break-container {
    margin-top: 0;
  }
}